In [105]:
#Import the necessary methods from tweepy library
import tweepy
import math
import csv
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 


#These are display options in order to help the dataframe outputs not be truncated
pd.options.display.max_columns = 50 
pd.options.display.max_rows = 50 
pd.options.display.width = 120 
pd.options.display.max_colwidth = 110

from tweepy import OAuthHandler

#Variables that contains the user credentials to access Twitter API 
CONSUMER_KEY = ''
CONSUMER_SECRET =''
OAUTH_TOKEN = ''
OAUTH_TOKEN_SECRET = ''
    
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
api = tweepy.API(auth)

In [3]:
#This is just to test if the connection was established. Should only have 15 items in this. 
results = api.search(q="%23blues")

In [4]:
#Simple function to print individual tweets
def print_tweet(tweet): 
    print "@%s - %s (%s)" % (tweet.user.screen_name, tweet.user.name, tweet.user.created_at)
    print tweet.text
    
tweet = results[0]
print (print_tweet(tweet))

@matarosario831 - Rosario Mata (2015-10-07 18:36:11)
RT @GDoblesMusic: ¬øUn poco de #blues para terminar la semana? Inspirado en el piano les regalo esta linda melod√≠a #BuenViernes https://t.co‚Ä¶
None

In [5]:
results = []

#This is what gets all the tweets. I believe that 5000 is currently the max items you can get from using the REST API for twitter
for tweet in tweepy.Cursor(api.search, q = '%23blues').items(5000):
    results.append(tweet)
    
print len(results)

3870

In [6]:
#This function puts your results into a dataframe that makes it much easier to read and work with. 
#Each column in the dataframe corresponds to the [''] part of it
def process_results(results):
    
    id_list = [tweet.id for tweet in results]
    
    df = pd.DataFrame(id_list, columns=["id"])
    
    #Processing Tweet data 
    df['text'] = [tweet.text for tweet in results]
    df['created_at'] = [tweet.created_at for tweet in results]
    df['retweet_count'] = [tweet.retweet_count for tweet in results]
    df['favorite_count'] = [tweet.favorite_count for tweet in results]
    
    #Processing User Data
    df['user_screen_name'] = [tweet.author.screen_name for tweet in results]
    df['user_name'] = [tweet.author.name for tweet in results]
    df['user_location'] = [tweet.author.location for tweet in results]
    
    return df

df = process_results(results)
print len(df)

3870

In [7]:
#This returns the first twenty items in your dataframe
df.head(20)

,id,text,created_at,retweet_count,favorite_count,user_screen_name,user_name,user_location
0,774432361832325120,RT @GDoblesMusic: ¬øUn poco de #blues para term...,2016-09-10 02:20:37,2,0,matarosario831,Rosario Mata,
1,774432213802835968,#IWokeUp @McNeillShona https://t.co/Ofh71bdZOE...,2016-09-10 02:20:02,0,0,Lov3rzLov3You,Michelle #LOV3RZ,Worldwide
2,774431974354288640,#galveston #texas #blues #fuckinword @ Old Qua...,2016-09-10 02:19:05,0,0,manny9000,manny salazar,Houston Texas
3,774431387017474048,#BBKing #BluesLegend Live at the Regal by B.B....,2016-09-10 02:16:45,0,0,HotTrends8,Google Hot Trends,
4,774430888197259264,Listening to Looking Good by Magic Sam on http...,2016-09-10 02:14:46,0,0,Latitude23R,Latitude23 Radio,"Phoenix, AZ"
5,774430346498768896,RT @HunterAHomistek: Stevie Ray Vaughan's best...,2016-09-10 02:12:37,1,0,homistek,Mr marty,Planet earth
6,774430248574324736,#doublebass #bass #bassguitar #jamsession #beb...,2016-09-10 02:12:14,0,1,shulman_susan,susan shulman,
7,774429935138209792,@Marlin Saner Rain For Africa https://t.co/3fk...,2016-09-10 02:10:59,0,0,lorraine_jazz,Lorraine Jazz,"Nancy, Lorraine"
8,774429930969042944,"Now Playing, Little Freddie King ‚Äî Louisiana T...",2016-09-10 02:10:58,0,0,wnmcradio,WNMC Radio Playlist,"Traverse City, MI"
9,774429767223369728,Listen to my #awardwinningsong #moonblues on #...,2016-09-10 02:10:19,0,0,delaine2511,Vanessa Delaine,Australia
10,774428983261671424,#StLouis Rare NHL St. Louis #Blues Sean Glanvi...,2016-09-10 02:07:12,0,0,FaithCrossman,Faith Crossman,
11,774428657477644288,@RVG Bad Habit https://t.co/3fkWSJWzFp #japan ...,2016-09-10 02:05:54,0,0,lorraine_jazz,Lorraine Jazz,"Nancy, Lorraine"
12,774427946585100289,"RT @MECStateChamber: The MS #Blues Trail, now ...",2016-09-10 02:03:05,2,0,JNewell53,Two Feathers,
13,774427136694235136,#BBKing #BluesLegend B.B.KING - THERE MUST BE ...,2016-09-10 01:59:52,0,0,HotTrends8,Google Hot Trends,
14,774426965440856064,Ana Popovic Nothing Personal https://t.co/jMrq...,2016-09-10 01:59:11,0,0,RadioMirabelle,Radio Mirabelle,Lorraine
15,774426649135869952,@TATERTRONIX Deluxe https://t.co/3fkWSJWzFp #j...,2016-09-10 01:57:55,0,0,lorraine_jazz,Lorraine Jazz,"Nancy, Lorraine"
16,774426413294358528,Listening to Good People by Jack Johnson on ht...,2016-09-10 01:56:59,0,0,Latitude23R,Latitude23 Radio,"Phoenix, AZ"
17,774426407183101952,RT @TheMileHighShow: @roadonesouth about to t...,2016-09-10 01:56:58,1,0,Msantos_photo,Matt Santos,"Arizona, USA"
18,774425523338420225,RT @RadioKvmr: Happy Birthday #OtisRedding (19...,2016-09-10 01:53:27,2,0,ms_laurencarter,Lauren Carter,"Houston, Texas"
19,774425446037336064,@Chiara Civello Here Is Everything https://t.c...,2016-09-10 01:53:09,0,0,lorraine_jazz,Lorraine Jazz,"Nancy, Lorraine"

In [9]:
#This gives you the top 15 places in user_location 
top_places = df["user_location"].value_counts()[:15]
print top_places

                                1081
Hatfield, Hertfordshire, UK      223
London, England                  157
Nancy, Lorraine                  130
Phoenix, AZ                      123
Lorraine                          92
Worldwide                         51
London                            37
Casablanca, Grand Casablanca      25
Traverse City, MI                 25
Fort Lauderdale                   24
Local, Everywhere!‚Ñ¢               23
Los Angeles, CA                   20
Birmingham                        20
Mother Earth                      19
Name: user_location, dtype: int64

In [10]:
#I used this function to help clean up and organize the unstructured data by removing common places to regular state abbreviations
def cleanup(df):  
    new_df = df.replace(to_replace = "Hatfield, Hertfordshire, UK", value = "UK")
    new_df = new_df.replace(to_replace = "United States", value = "US")
    new_df = new_df.replace(to_replace = "London", value = "UK")
    new_df = new_df.replace(to_replace = "London, GB", value = "UK")
    new_df = new_df.replace(to_replace = "London, England", value = "UK")
    new_df = new_df.replace(to_replace = "Traverse City, MI", value = "MI")
    new_df = new_df.replace(to_replace = "Los Angeles, CA", value = "CA")
    new_df = new_df.replace(to_replace = "New York NY (Forest Hills) USA", value = "NY")
    new_df = new_df.replace(to_replace = "Canada", value = "CA")
    new_df = new_df.replace(to_replace = "Los Angeles, California", value = "CA")
    new_df = new_df.replace(to_replace = "Birmingham", value = "UK")
    new_df = new_df.replace(to_replace = "Lorraine", value = "France")
    new_df = new_df.replace(to_replace = "Texas", value = "TX")
    new_df = new_df.replace(to_replace = "Valencia", value = "CA")
    new_df = new_df.replace(to_replace = "East Coast, N.J.", value = "NJ")
    new_df = new_df.replace(to_replace = "Vancouver, British Columbia", value = "Canada")
    new_df = new_df.replace(to_replace = "Longuyon, France", value = "France")
    new_df = new_df.replace(to_replace = "Venezuela", value = "VE")
    new_df = new_df.replace(to_replace = "Bluesville, Illinois", value = "IL")
    new_df = new_df.replace(to_replace = "London, UK", value = "UK")
    new_df = new_df.replace(to_replace = "New York", value = "NY")
    new_df = new_df.replace(to_replace = "Chicago", value = "IL")
    new_df = new_df.replace(to_replace = "London, Ontario", value = "Canada")
    new_df = new_df.replace(to_replace = "Austin, TX", value = "TX")
    new_df = new_df.replace(to_replace = "Sausalito, CA", value = "CA")
    new_df = new_df.replace(to_replace = "Nashville, TN", value = "TN")
    new_df = new_df.replace(to_replace = "Espa√±a", value = "Spain")
    new_df = new_df.replace(to_replace = "Boston, MA", value = "MA")
    new_df = new_df.replace(to_replace = "Sweden", value = "Sweden")
    new_df = new_df.replace(to_replace = "Bogota, Colombia", value = "Colombia")
    new_df = new_df.replace(to_replace = "Florida", value = "FL")
    new_df = new_df.replace(to_replace = "California", value = "CA")
    new_df = new_df.replace(to_replace = "Illinois", value = "IL")
    new_df = new_df.replace(to_replace = "Bergen County New Jersey", value = "NJ")
    new_df = new_df.replace(to_replace = "Kula, Hawaii", value = "HI")
    new_df = new_df.replace(to_replace = "Chicago, IL", value = "IL")
    new_df = new_df.replace(to_replace = "Ottawa, Ontario", value = "Canada")
    new_df = new_df.replace(to_replace = "Florence, SC", value = "SC")
    new_df = new_df.replace(to_replace = "Hull Uk  (from MemphisTN-USA)", value = "TN")
    new_df = new_df.replace(to_replace = "Seattle, WA", value = "WA")
    new_df = new_df.replace(to_replace = "Michigan, USA", value = "MI")
    new_df = new_df.replace(to_replace = "Fort Lauderdale", value = "FL")
    new_df = new_df.replace(to_replace = "Los Angeles", value = "CA")
    new_df = new_df.replace(to_replace = "Lebanon Oregon USA", value = "OR")
    new_df = new_df.replace(to_replace = "Flowery Branch, GA", value = "GA")
    new_df = new_df.replace(to_replace = "New York, NY", value = "NY")
    new_df = new_df.replace(to_replace = "St. Louis, MO", value = "MO")
    new_df = new_df.replace(to_replace = "Utah", value = "UT")
    new_df = new_df.replace(to_replace = "", value = "US")
    new_df = new_df.replace(to_replace = "Paris, Ile-de-France", value = "France")
    new_df = new_df.replace(to_replace = "United Kingdom", value = "UK")
    new_df = new_df.replace(to_replace = "Toronto, Ontario", value = "Canada")
    new_df = new_df.replace(to_replace = "Georgia", value = "GA")
    new_df = new_df.replace(to_replace = "California, USA", value = "CA")
    new_df = new_df.replace(to_replace = "Iowa, USA", value = "IA")
    new_df = new_df.replace(to_replace = "Albany, OR", value = "OR")
    new_df = new_df.replace(to_replace = "Miami Springs", value = "FL")
    new_df = new_df.replace(to_replace = "Ohio", value = "OH")
    new_df = new_df.replace(to_replace = "Arkansas", value = "AR")
    new_df = new_df.replace(to_replace = "Atlanta, GA", value = "GA")
    new_df = new_df.replace(to_replace = "Massachusetts", value = "MA")
    new_df = new_df.replace(to_replace = "Indiana, USA", value = "IN")
    new_df = new_df.replace(to_replace = "Miami Springs, Florida", value = "FL")
    new_df = new_df.replace(to_replace = "NY, NY", value = "NY")
    new_df = new_df.replace(to_replace = "Long Beach, Cal", value = "CA")
    new_df = new_df.replace(to_replace = "Mississippi", value = "MS")
    new_df = new_df.replace(to_replace = "Wisconsin", value = "WI")
    new_df = new_df.replace(to_replace = "Malibu, CA", value = "CA")
    new_df = new_df.replace(to_replace = "Los Angeles / Hollywood", value = "CA")
    new_df = new_df.replace(to_replace = "Shelby, North Carolina", value = "NC")
    new_df = new_df.replace(to_replace = "Beverly Hills, CA", value = "CA")
    new_df = new_df.replace(to_replace = "Puyallup, WA", value = "WA")
    new_df = new_df.replace(to_replace = "Tawas City, Michigan", value = "MI")
    new_df = new_df.replace(to_replace = "Kentucky", value = "KT")
    new_df = new_df.replace(to_replace = "Pennsylvania", value = "PN")
    new_df = new_df.replace(to_replace = "Hollywood - Los Angeles, CA", value = "CA")
    new_df = new_df.replace(to_replace = "St Louis, Missouri, USA", value = "MS")
    new_df = new_df.replace(to_replace = "New Jersey", value = "NJ")
    new_df = new_df.replace(to_replace = "Connecticut, USA", value = "CT")
    new_df = new_df.replace(to_replace = "Sacramento, CA", value = "CA")
    new_df = new_df.replace(to_replace = "San Rafael, CA", value = "CA")
    new_df = new_df.replace(to_replace = "Houston, TX", value = "TX")
    new_df = new_df.replace(to_replace = "texas", value = "TX")
    new_df = new_df.replace(to_replace = "Phoenix, AZ", value = "AZ")
    return new_df 
    



#if you can't get the function to work just change it back to not being a function
#clean_up(df)
#print df['user_location'].value_counts()[:15]

In [11]:
#Prints out the top 15 places in user_location after clean up has been used on the dataframe
clean = cleanup(df)
print clean['user_location'].value_counts()[:15]

C:\Users\Adrian\Anaconda2\lib\site-packages\pandas\core\common.py:488: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  mask = arr == x

US                              1090
UK                               487
Nancy, Lorraine                  130
AZ                               124
France                           107
CA                                53
Worldwide                         51
IL                                44
MI                                29
FL                                28
NJ                                27
Casablanca, Grand Casablanca      25
Local, Everywhere!‚Ñ¢               23
Mother Earth                      19
Sweden                            17
Name: user_location, dtype: int64

In [13]:
#This line was used just in case there were any values in user_location that weren't read in as strings
#new_df.user_location = new_df.user_location.to_string()

In [14]:
#This line below takes the clean dataframe and puts it into a .csv file with a utf-8 encoding
#clean.to_csv('summer8.csv', encoding = 'utf-8')

In [15]:
#This part reads in .csv files from different days
summer = pd.read_csv(os.path.join('summer7.csv'))
summer2 = pd.read_csv(os.path.join('summer8.csv'))
summer3 = pd.read_csv(os.path.join('summer.csv'))

#These lines join the three separate dataframes above and joins them all together into one 
result = summer.append(summer2)
result = result.append(summer3)

In [16]:
#This cleans up the one big dataframe that we now have and outputs the top 15 places 
df = cleanup(result)
print df['user_location'].value_counts()[:15]

US                              1219
UK                               521
AZ                               149
France                           116
CA                               102
MI                                58
IL                                56
Worldwide                         52
TN                                45
Herne Bay Kent CT6                32
Casablanca, Grand Casablanca      28
NY                                21
espelkamp germany                 19
TX                                19
Sweden                            15
Name: user_location, dtype: int64

In [125]:
#This takes all the values in the dataframe that has its user_location in the same state and separates them into their own 
#dataframes
CA = df[df['user_location'] == 'CA']
TX = df[df['user_location'] == 'TX']
AZ = df[df['user_location'] == 'AZ']
MI = df[df['user_location'] == 'MI']
TN = df[df['user_location'] == 'TN']
IL = df[df['user_location'] == 'IL']
USA = df[df['user_location'] == 'US']

In [126]:
#This takes the combined dataframe we had from earlier and puts it into its own .csv file 
df.to_csv('combined.csv', encoding = 'utf-8')

In [137]:
#This function prints the text of the tweet with the max number of retweets as well as max retweet number 
def max_print_state(df): 
    state = str(df['user_location'].iloc[0])
    print state + ": " + df['text'].max()
    print "Retweet count: " + str(df['retweet_count'].max())
    print

max_print_state(CA)
max_print_state(TX)
max_print_state(AZ)
max_print_state(IL)
max_print_state(MI)
max_print_state(TN)

CA: https://t.co/vYclMJhDZu

Some lunchtime #Blues for you
@TheRealBuddyGuy and SRV
Passing fwd = enjoymentüíô‚ùóÔ∏è https://t.co/nC6elJRpl6
Retweet count: 29.0

TX: So pumped to be a part of @kpboomboom #album #release #music #indie #blues #artist #concert‚Ä¶ https://t.co/BrpiKeQqh5
Retweet count: 296.0

AZ: RT @Fender: RT @rtruesdale50: These Fender Blues Deville harps are very cool. Excellent tone and vibe. @Fender #harmonica #blues https://t.‚Ä¶
Retweet count: 41.0

IL: the #blues defined, by @bluesAllstars How #chicago does #music https://t.co/p1Q4S2tfqx
Retweet count: 15.0

MI: Slow Train - Joe Bonamassa | Blues |425300105 #Blues https://t.co/B9wqYx3OJR #Blues
Retweet count: 3.0

TN: https://t.co/L0CegLDUps  #music ‚Ä¶https://t.co/g192SopB6J   https://t.co/8mgUvTYl32 ‚Ä¶  https://t.co/qpCI2ngfuY  #pop #blues
Retweet count: 11.0

In [148]:
#I used this function to print out the text of a tweet with the retweet_count amount above the percentile defined
def top_tweets(df):
    state = str(df['user_location'].iloc[0])
    print state + ": " + df['text'].max() + '\n' 
    print df.sort('retweet_count', ascending = True)[:5].text
    print

In [149]:
top_tweets(CA)
top_tweets(TX)
top_tweets(AZ)
top_tweets(IL)
top_tweets(TN)
top_tweets(MI)

CA: https://t.co/vYclMJhDZu

Some lunchtime #Blues for you
@TheRealBuddyGuy and SRV
Passing fwd = enjoymentüíô‚ùóÔ∏è https://t.co/nC6elJRpl6

1        Listening to #JimmyRushing singing the #blues! #NowPlaying "T'aint Nobody's Bizness" https://t.co/uNM7XjL9ab
2428    #morning #blues #bus #ride #september62014 #classic #blackandwhite #glasses #immortal @ Los‚Ä¶ https://t.co/...
2315    Especial Entrevista a Jose Luis Acosta Can Blues Pink Tone Jueves 9 PM #BLUES # BluesRock en Las Fronteras...
2089    @AmeriBluesScene @Bluescentric  Nice to see a #Canadian #blues #musician in that list @sweetharrisonk ,unl...
2060    "Slippin and Slidin" at The Malibu Chili Cook-Off Sat #Rock #Blues #guitarsolo #slideguitar‚Ä¶ https://t.co/...
Name: text, dtype: object

TX: So pumped to be a part of @kpboomboom #album #release #music #indie #blues #artist #concert‚Ä¶ https://t.co/BrpiKeQqh5

1276          Currently on air: TOTAL GRAVEYARD BLUES on https://t.co/11jvnMonEq  #blues #delta #harambe #BLM #Austin
252                                           Charles Brown - Drifting #Blues - 1945 - https://t.co/Ggzctd8BU8 #Texas
60                     I took this picture of Hope's boy #OmarDykes ! #Blues #Guitar #Awesome https://t.co/AA5uTPPvhl
625     #musicismyhappiness #music #musicart #artistic #creative #jazz #blues #musician #rock #hip-hop #r&amp;b #p...
735             A Guide to Finding #Blues and #Jazz #Music in #Austin https://t.co/3SVRMLWZDn https://t.co/Hfv2jFHQbj
Name: text, dtype: object

AZ: RT @Fender: RT @rtruesdale50: These Fender Blues Deville harps are very cool. Excellent tone and vibe. @Fender #harmonica #blues https://t.‚Ä¶

11      Listening to Basin Street Blues by Louis Armstrong on https://t.co/99ZGXxa5mB! #Blues #np #nowplaying
2072     Listening to I Want A Little Girl by Eric Clapton on https://t.co/99ZGXxa5mB! #Blues #np #nowplaying
2015     Listening to Jailhouse Rock by The Blues Brothers on https://t.co/99ZGXxa5mB! #Blues #np #nowplaying
1984                  Listening to Monsoon by Jack Johnson on https://t.co/99ZGXxa5mB! #Blues #np #nowplaying
1960    Listening to Walkin' Thru the Park by Muddy Waters on https://t.co/99ZGXxa5mB! #Blues #np #nowplaying
Name: text, dtype: object

IL: the #blues defined, by @bluesAllstars How #chicago does #music https://t.co/p1Q4S2tfqx

159                                              Playing at August 25, 2016 at 09:30PM: Chicago R&amp;B Kings  #blues
2297                    Tonight: JW-Jones! Watch live on https://t.co/4PUV25aWbL #Live #Blues https://t.co/DBQRw0hwom
792                     Tonight: JW-Jones! Watch live on https://t.co/4PUV25aWbL #Live #Blues https://t.co/DBQRw0hwom
1936                           Playing at September 06, 2016 at 06:00PM: Matt Hendricks (Acoustic Dinner Set)  #blues
42      hot new #chicago #blues from Maurice John Vaughn...just in time for #NFL #football #ItsAManThing. https://...
Name: text, dtype: object

TN: https://t.co/L0CegLDUps  #music ‚Ä¶https://t.co/g192SopB6J   https://t.co/8mgUvTYl32 ‚Ä¶  https://t.co/qpCI2ngfuY  #pop #blues

93      Cason Simmons and Wilson Harwood leading out on some #folsomprison #blues in #probluesjam Round‚Ä¶ https://t...
2168    Subscribe to #Jazz #Country #Blues #Musician @Bronzie9 https://t.co/yvmqTYbNll on #YouTube https://t.co/bk...
2169    Subscribe to #Jazz #Country #Blues #Musician @Bronzie9 https://t.co/893xGyPKTV on #YouTube https://t.co/Il...
2172    Subscribe to #Jazz #Country #Blues #Musician @Bronzie9 https://t.co/eXnyneI9il on #YouTube https://t.co/Nl...
2173    Subscribe to #Jazz #Country #Blues #Musician @Bronzie9 https://t.co/RMUKXMe6Ls on #YouTube https://t.co/Ht...
Name: text, dtype: object

MI: Slow Train - Joe Bonamassa | Blues |425300105 #Blues https://t.co/B9wqYx3OJR #Blues

135                         Blue and Lonesome - Little Walter | Blues |15038943 #Blues https://t.co/oXqm8nLHbO #Blues
526     Now Playing, Eric Bibb and North Country Far with Danny Thompson ‚Äî King Size Bed from B-008 _ The Happiest...
1964             Now Playing, Keb' Mo' ‚Äî More Than One Way Home from DB-008 _ That Hot Pink Blues Album #music #Blues
1971                Now Playing, Norman Taylor ‚Äî Special Rider Blues from B-014 _ Delaware to the Delta #music #Blues
1976                       Now Playing, Tota Blues ‚Äî Last Fair Deal from B-007 _ Veinte A√±os No Es Nada #music #Blues
Name: text, dtype: object

C:\Users\Adrian\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)